.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: black;
    border: 1px solid black;
}
    

.main ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    

}
 a{
    text-decoration: none;
    color: white;
    justify-content: space-around;
    margin: 20px;
    display: flex;
    
}


img{
    height: 70px;
    width: 200px;
    
}